@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
main {
  padding: 10px;
}
.sidebar__container {
  display: flex;
}
.sidebar {
  background:linear-gradient(to bottom right, rgba(35, 0, 115, 0.974), rgb(122, 0, 122));
  height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.route {
  display: flex;
  color: white;
  text-decoration: none;
  width: 100%;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.route:hover {
  background-color: rgba(255, 255, 255, 0.335);
  transition: all 0.2s ease-in-out;
  border-right: 4px solid white;
}
.active {
  background-color: rgba(255, 255, 255, 0.335);
  border-right: 4px solid white;
}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  margin-top: 10px;

}
.logo{
  margin-right: 10px;
}
.logo__container .top__icon {
  font-size: 20px;
  cursor: pointer;
}

.search__container {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
}
.search__container input {
  color: white;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid white;
  outline: none;
}

.search__container input:focus-visible {
  outline: 1px solid white;
  border-bottom: 1px solid white;
}
